<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html">
    <title th:text="${sectionName}">Community</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<!--    <script src="../static/js/bootstrap.bundle.js"></script>-->

    <style>
        .text-description{
            font-size: 12px;
            font-weight: normal;
            color: #999;
        }



    </style>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Concordia Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <a class="nav-link" href="/publish">New Question</a>


            <li class="nav-item" th:if="${session.user == null}">
                <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=21a08d7375c84e0068fa&client_secret=b48815e2a7695c2fd702cbe4f18cd3596ab16558&redirect_uri=http://localhost:8080/callback&scope=user">Login</a>
            </li>
            <li class="nav-item dropdown" th:if="${session.user != null}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}">
                    Me
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                    <a class="dropdown-item" href="/profile/questions">Profile</a>
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#/logout">Logout</a>
                </div>
            </li>

        </ul>

    </div>
</nav>
<div class="container main">
<div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12, col-xs-12">
        <h2><span th:text="${sectionName}"></span></h2>
        <hr>

        <div class="media" th:each="question : ${questions.getQuestions()}">
            <img src="" class="mr-3" alt="" th:src="${question.getUser().getAvatarUrl()}" style="width: 30px">
            <div class="media-body">
                <h5 class="mt-0" th:text="${question.getTitle()}">How to build a website?</h5>
                <span th:text="${question.getDescription()}">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</span>
                <span class="float-right">
                    <a th:href="@{'/publish/' + ${question.id}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
            </svg>Edit</a>
                </span>
                <span class="text-description"><span th:text="${question.getCommentCount()}">0</span> comment • <span th:text="${question.getViewCount()}">47</span> view • post at <span th:text="${#dates.format(question.getGmtCreate(), 'dd MMM, yyyy')}"></span></span>
            </div>
        </div>


        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:if="${questions.showFirstPage}"><a class="page-link" th:href="@{/(page=1)}">&lt;&lt;</a></li>
                <li class="page-item" th:if="${questions.showPrevious}"><a class="page-link" href="" th:href="@{'/profile/'+ ${section}(page=1)}">&lt;</a></li>

                <li class="page-item" th:class="${questions.page == page}? 'page-item active': 'page-item'" th:each="page : ${questions.getPages()}"><a class="page-link" href="/" th:href="@{'/profile/'+ ${section}(page=${page})}" th:text="${page}" >Previous</a></li>
                <li class="page-item" th:if="${questions.showNext}"><a class="page-link" href="#" th:href="@{'/profile/'+ ${section}(page=${questions.page+1})}">&gt;</a></li>
                <li class="page-item" th:if="${questions.showEndPage}"><a class="page-link" href="#" th:href="@{'/profile/'+ ${section}(page=${questions.totalPage})}">&gt;&gt;</a></li>
            </ul>
        </nav>





    </div>
    <div class="col-lg-3 col-md-12 col-sm-12, col-xs-12">
        <div class="list-group">
            <a type="button" href="/profile/questions" class="list-group-item list-group-item-action" th:classappend="${section == 'questions'? 'active':''}" >My questions</a>
            <a type="button" href="/profile/replies" class="list-group-item list-group-item-action" th:classappend="${section == 'replies'? 'active':''}">Latest Comment
            <span class="badge">12</span>
            </a>
        </div>
    </div>

</div>
</div>









</body>
</html>