<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html">
    <title>Publish</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" href="../static/css/editormd.css"  th:href="@{/css/editormd.css}">
    <script src="../static/js/editormd.js" th:src="@{/js/editormd.js}"></script>


    <!--    <script src="../static/js/bootstrap.bundle.js"></script>-->


</head>
<body style="background-color: #efefef">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Concordia Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <a class="nav-link" href="/publish">New Question</a>


            <li class="nav-item" th:if="${session.user == null}">
                <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=21a08d7375c84e0068fa&client_secret=b48815e2a7695c2fd702cbe4f18cd3596ab16558&redirect_uri=http://localhost:8080/callback&scope=user">Login</a>
            </li>
            <li class="nav-item dropdown" th:if="${session.user != null}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}">
                    Me
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                    <a class="dropdown-item" href="/profile/questions">Profile</a>
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#/logout">Logout</a>
                </div>
            </li>

        </ul>

    </div>
</nav>
<br>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12, col-xs-12">
            <h2><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin: 10px">
                <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zM8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
            </svg>Post</h2>
            <hr>

            <form action="/publish" method="post">
                <input type="text"  hidden="hidden" name="id" th:value="${questionId}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Question</label>
                    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title" th:value="${title}">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <div id="test-editor">
                    <textarea style="display:none;" id="description" name="description" cols="30" rows="10" th:text="${description}">
                    </textarea>
                    <script type="text/javascript">
                        $(function() {
                            var editor = editormd("test-editor", {
                                width  : "100%",
                                height : "600px",
                                path   : "js/lib/",
                                imageUpload    : true,
                                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                imageUploadURL : "/file/upload",
                            });
                        });
                    </script>

                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="form-group">
                    <label for="tags">Add Tags:</label>
                    <input class="form-control" id="tags" name="tags" aria-describedby="emailHelp" th:value="${tag}">
                </div>
                <span class="alert alert-danger" th:if="${error != null}" th:text="${error}"></span>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12, col-xs-12">
            <h3>Question Guide</h3>
            <p>When you start your question ,you should know the question should not be duplicate with questions already there!</p>

        </div>

    </div>


</div>







</body>
</html>